*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;


}

nav {

    padding: 32px 32px;
    min-height: 80px;
    background-color: #1f1f1f;

}

nav ul {

    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li{

    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {

    margin-right: 0px;


}

nav img {

    margin-top: 18px;
    max-height: 48px;
    background-color: white;

    
}

.spacer {

    display: inline-block;
    /* Parent width - Logo width - Menu <ul> width  */
    width: calc(100% - 40px - 268px);


}

nav ul li a{


    text-decoration: none;
    font-size: 15px;


}


nav ul li a:link,
nav ul li a:visited {

    color: rgba(38, 145, 238, 0.948);
    

}
nav ul li a.current{
    color: rgb(41, 246, 153);
    font-weight: bold;


}

nav ul li a:hover{

    color: orange;
}

nav ul li a:active{

    color: green ;
}


main {

    height: 598px;

}

nav {

    padding: 0px;
    text-align: center;

}

.navegationbox {

    padding-top: 30px ;

}

footer {


    background-color: #1f1f1f;
    padding: 0px;
    height: 70px;
   

}


div.spacerfooter {

    border: 1px solid rgb(78, 77, 77);
    display: inline-block;
    width: 1350px;




}

p.footerstyle {

    color: rgb(224, 221, 221);
    text-align: center;
    padding-top: 20px; ;



}
